<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamJ3.homepage.dao.NoticeMapper">

	<select id="selectNoticeList" resultType="Notice">
		SELECT NOTICE_ID, NOTICE_WRITER, NOTICE_SUBJECT, NOTICE_REG_DATE
		  FROM NOTICE
	</select>

	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE(NOTICE_SUBJECT, NOTICE_CONTENTS, NOTICE_WRITER)
		VALUES(#{notice_subject}, #{notice_contents}, #{notice_writer})
	</insert>
</mapper>
