<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="headerFragment">
	
	<!-- Navigation -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<img class="navbar-brand" href="/" alt="dongwon" src="../../resources/images/logo2.png" />
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link" href="/about" id="navbarDropdownPortfolio" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> 회사소개 </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
							<a class="dropdown-item" href="/about-1-col">인사말</a>
							<a class="dropdown-item" href="/about-2-col">오시는길</a>
							<a class="dropdown-item" href="/about-3-col">회사개요</a>
							<a class="dropdown-item" href="/about-4-col">연혁</a>
							<a class="dropdown-item" href="/about-iteml">조직도</a>
							<a class="dropdown-item" href="/about-iteml">현장사진</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="/business-field" id="navbarDropdownPortfolio" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> 사업분야 </a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
							<a class="dropdown-item" href="/business-1-col">철도</a>
							<a class="dropdown-item" href="/business-2-col">송전선로</a>
							<a class="dropdown-item" href="/business-3-col">건축전기</a>
							<a class="dropdown-item" href="/business-4-col">소방</a>
							<a class="dropdown-item" href="/business-iteml">금속창호</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="/manage-info" id="navbarDropdownPortfolio" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> 경영정보 </a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
							<a class="dropdown-item" href="/manage-1-col">신인도</a>
							<a class="dropdown-item" href="/manage-2-col">기술경영</a>
							<a class="dropdown-item" href="/manage-3-col">수상실정</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="/board" id="navbarDropdownPortfolio" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> 게시판 </a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
							<a class="dropdown-item" href="/board-notice">공지사항</a>
							<a class="dropdown-item" href="/board-2-col">게시판</a>
							<a class="dropdown-item" href="/board-estimate">견적문의</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="/recruit" id="navbarDropdownPortfolio" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> 인재채용 </a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="/login">로그인</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="/join">회원가입</a>
						
					</li>
					<!-- <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> Portfolio </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
							<a class="dropdown-item" href="/portfolio-1-col">1 Column Portfolio</a>
							<a class="dropdown-item" href="/portfolio-2-col">2 Column Portfolio</a>
							<a class="dropdown-item" href="/portfolio-3-col">3 Column Portfolio</a>
							<a class="dropdown-item" href="/portfolio-4-col">4 Column Portfolio</a>
							<a class="dropdown-item" href="/portfolio-iteml">Single Portfolio Item</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Blog </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
							<a class="dropdown-item" href="/blog-home-1">Blog Home 1</a>
							<a class="dropdown-item" href="/blog-home-2">Blog Home 2</a>
							<a class="dropdown-item" href="/blog-post">Blog Post</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Other Pages </a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
							<a class="dropdown-item" href="/full-width">Full Width Page</a>
							<a class="dropdown-item" href="/sidebar">Sidebar Page</a>
							<a class="dropdown-item" href="/faq">FAQ</a>
							<a class="dropdown-item" href="/404">404</a>
							<a class="dropdown-item" href="/pricing">Pricing Table</a>
						</div>
					</li> -->
				</ul>
			</div>
		</div>
	</nav>

</header>

</html>